#parse("/zh_CN/views/template/prefix.vm" ) 
<head> 
      #set($browserTitle="修改密码")
      #parse("/zh_CN/views/template/meta_include.vm" ) 
<script src="/zh_CN/js/web/user/password.js"></script>

</head> 

<body>
#parse("/zh_CN/views/head.vm" )

<div id="stage" class="left-right">
	<!--左边-->
#parse("/zh_CN/views/user/user_left.vm" )
<script>var left_li_focus="left_li_3";</script>


<!--right-->
	<div id="container">
	
	<!--选择-->
	<div id="select">
		<div class="select-title">
		<h4>修改密码</h4>
		<span></span> 
      </div>
	</div>		

		<div class="transverse file-set">
			<div class="panel">		
				<h5>为了您的帐号安全，不让盗号者有可乘之机。<br/>多多建议：如果您正在使用与其他网站相同的密码，请尽快修改!</h5>
			<ul class="form-set-list">

				<li class="form-set-list-2">
					<span>当前密码:</span>
					<input name="originalPwd" id="originalPwd" type="password" maxlength="16" />
					<b class="Remind-color"></b> 
					
				</li>
				<li class="form-set-list-3">
					<span>新密码:</span>
					<input name="newPwd" id="newPwd" type="password" maxlength="16" />
					<b class="Remind-color"></b> 
					
				</li>
				<li class="form-set-list-3">
					<span>确认密码:</span>
					<input name="newPwdc" id="newPwdc"  type="password" maxlength="16" />
					<b class="Remind-color"></b> 
					
				</li>


				<li class="register-button">
					<input id="saveBtn" type="image" src="/zh_CN/images/save-1.png"   class="register-btn2"/><!--保 存-->
				</li>

			</ul>
				
			<div style="height:10px; clear:both; overflow:hidden; margin:0 auto;"></div>
			
			</div>
		</div>
	</div>
	</div>	

</div>	


#parse("/zh_CN/views/template/footer.vm" ) 
