<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Duoduo.life</title>

</head>
<body>
   <a href="/account/default/register/">
             立即注册
   </a>
   <br>
   <a href="">
             多多插件下载
   </a>
   <br>
   <a href="">
             去广场逛逛
   </a>
   <br>
</body>
</html>