<meta content="width=device-width, initial-scale=0.5, user-scalable=no, target-densitydpi=device-dpi" name="viewport"  />
<table width="95%" border="0">
  <tr>
    <td style="line-height: 40px; font-size:40px;">用户行为统计</td>
  </tr>
  <tr>
    <td><div align="center"><img src="http://www.mduoduo.com/zh_CN/images1/drag/UNKNOWN.png" alt="不持文件"></div></td>
  </tr>
  <tr>
    <td style=" display: block; color: #777; font-size: 30px; line-height:40px; ">您当前使用的版本过低，不支持查看此类型文档，请更新客户端</td>
  </tr>
  <tr>
    <td><a href="$!url" style="display: block; text-indent: -9999px; overflow:hidden; margin:25px auto 40px;  background: url(http://www.mduoduo.com/zh_CN/images1/drag/btn.png) no-repeat; width: 370px; height: 70px">马上更新</a></td>
  </tr>
</table>


