<div id="login" style="width:600px; background:#000; margin:0 auto; height:auto; padding:20px ;">
	<div style="width:590px; height:auto; background:#fff; padding:10px 0;  overflow:hidden;">
		<div style="width:380px;height:auto; border-right:1px solid #000; float:left;"	>
			<h1 style="border-bottom:1px dashed #000;">登录多多</h1>
			<ul style="list-style-type:none;">
				<li style="widht:380px; height:auto; line-height:40px;margin:10px 0;"><input id="ddusername" type="text" style="width:200px; height:25px; border:1px solid #000; margin:0 10px; "/><span style="float:left; text-align:right; ">帐号:</span></li>
				<!--当用户输入不正确或没有填写时   用户不能为空-->
				<li style="display:none;line-height:20px; margin:0 0 0 110px; border:1px solid #ff0000; width:200px; ">用户不能为空</li>
				
				<li style="margin:10px 0;"><input id="ddpwd" type="password" style="width:200px; height:25px; border:1px solid #000; margin:0 10px;  "/><span style="float:left; text-align:right; ">密码:</span></li>
				<!--当用户没有填写时   密码不能为空-->
				<li style="display:none;"></li>
				
				<li style="line-height:30px;"><input id="ddrememberMe" type="checkbox" style="margin:0 0 0 0px; width:30px; height:15px;" checked="checked"/>记住我（下次直接登录）</li>
				<li><input type="button" value="登录" id="ddloginBTN"></li>
			</ul>
		</div>
	
		<div style="line-height:30px; float:right; padding:0 10px 0 0;">
		还没有多多帐号？<a href="http://www.xxxxxx.com/account/default/register/" target="_blank" style=" color:#ff0000;">立即注册</a>
		</div>
	</div>
</div>