<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="/zh_CN/css/main.css">
<link rel="stylesheet" href="/zh_CN/css/footer.css" />
<div style="height:10px; clear:both; overflow:hidden; margin:0 auto;"></div>
<div id="footer">
	<div class="left-right-footer">
		<div class="left footer-left">
			<ul class="about">
				<li>
					 <a href="/about/us">关于我们</a>  | 
			         <!--
			         <a href="">意见反馈</a>  | 
			         -->
			         <a href="/about/business">联系我们</a>  |  
			        <!--
			         <a href="">开放平台</a>  |  
			        -->
			         <a href="/about/recruitment">加入我们</a>
				</li>
			</ul>
			<p class="copyRight">巴别塔（北京）科技有限公司	京ICP备08004541号</p>
		</div>	
		<div class="right footer-right">
			<div class="attention">
				<span>关注我们：</span>
				<ul>
					<li class="attention-sina">
					    <a href="http://weibo.com/twocoffee" target="_blank">
					        <img alt="twocoffee" src="/zh_CN/images/attention-sina.png">
					    </a>
					</li>
					<li></li>
					<li></li>
				</ul>
			</div>
		
		</div>
	</div>	
</div>
