<div id="header" class="header-2" >
  <div class="backdrop-top">
		
	</div>
	<div class="header-center">
		<div class="logo">
			<a href="#"><img src="/zh_CN/images/logo-index.png" alt="多多 - 一杯收藏一杯分享"></a>
		</div>
		
		<!--点击注册 和 app 登录-->
		<div class="button-jump">
		    <!-- 			
		    <span class="jump-plug-in"><a href="/account/default/register/">注册</a></span> 
		    -->
			<span class="jump-app"><a href="/account/default/login">会员登录</a></span>
		</div>			
		
		<ul id="nav">
			<li id="home"><a href="/">首页</a></li>
			<li id="nav-download"><a href="http://www.xxxxxx.com/#2">下载 </a></li>
			<li id="nav-help"><a href="/help/us">帮助</a></li>
		</ul>

	</div>
</div>