<link rel="stylesheet" href="/zh_CN/css/plug-in.css">
<script>
var cycleId;
var useHeightCycleId;
jQuery(document).ready(function(){
	window.document.body.style.background = 'url(../../images/body-bei.gif)';
    friendAction.bindEventAction();
    friendAction.initFriendDiv();
    friendAction.autoSelectFriendByType();
    cycleId = window.setInterval("checkHeight()",1000);
    useHeightCycleId = window.setInterval("checkUseHeight()",1000);
});

function checkHeight() {
    var height = $(".overview").height();
    if(height >0) {
        friendAction.bindShareFriend();
        window.clearInterval(cycleId);
    }
}

function checkUseHeight() {
    var useHeight = document.documentElement.clientHeight;
    if(useHeight !=null && useHeight >0) {
        friendCommon.setFriendViewportHeight(constant.shareHeight());
        window.clearInterval(useHeightCycleId);
    }
}
</script>
    #parse("/zh_CN/views/define.vm" )
	<div class="plug-in-2coffee share">
		<div class="plug-in-2coffee-right">
			<div class="plug-in-pic-top"></div>
			<div class="plug-in-2coffee-right-c">	
			
			    <!--基本-->	
				<div class="plug-in-2coffee-rightA">
					<div class="plug-in-2coffee-logo">
						<img src="/zh_CN/images/plug-in-logo.gif" alt="" >				
					</div>
					<div class="plug-in-2coffee-user-name">
						<img src="$!account.photos.get('35')" alt="" >
						<a title="$!{account.name}"> $text.subString($!{account.name}, 6, 3)</a>								
					</div>
					<input type="hidden" id="friendSelected" value="" />
					<input type="hidden" id="weibofriendSelected" value="" />
					<input type="hidden" id="renrenfriendSelected" value="" />
					<input type="hidden" id="repeatSelected" value="" />
				</div>
				
				<!--搜索-->
				<div class="plug-in-2coffee-suchen">
					<span><input type="text" id="searchFriendText" value="查找好友" ></span>
					<b class="plug-in-2coffee-suchen-icon">
					    <button type="submit" id="searchFriendButton" value="2coffee 搜索" name="btnG"></button>
					</b>
				</div>
				
				<!--分享列表-->
				<div id="shareFriendId" class="plug-in-2coffee-panel scrollbar-list">
				    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
				    <div class="viewport">
				        <div class="overview" style="width:100%">
							<!-- inside friend -->
							#parse("/zh_CN/views/friend/share/inside_share_friend.vm")	
							
							<!-- thirdparty friend -->
							#parse("/zh_CN/views/friend/share/thirdparty_share_friend.vm")
	                    </div>
	                </div>
				</div>
				
				<!-- 评论框 -->
				<div class="plug-in-2coffee-panel plug-in-2coffee-panel-1">
					<div class="plug-in-2coffee-textarea">
						<textarea id="commentText" cols="" rows="">我觉得这个东东可能对你有帮助，希望你喜欢哦！</textarea>
						<b id="ddClpFont">还可以输入<font id="ddCommentRemain">140</font>个字</b>
						<p>
							<a class="plug-in-2coffee-btn-cancel" href="javascript:void(0)" id="btnCancel">取消</a>
							<a class="plug-in-2coffee-btn-determine plug-in-2coffee-btn-determine-no" href="javascript:void(0)" id="btnCommend">确定</a>	
						</p>
					</div>	
				</div>
		</div>	
		<div class="plug-in-pic-bottom">
		    <div id="appointFriendId" style="display:none">
		    </div>
		</div>
	</div>	
 </div>
