#parse("/zh_CN/views/content/personal/resource.vm" )
<script type="text/javascript" src="/js/message.js"></script>
<script type="text/javascript" src="/js/friend.js"></script>
<script type="text/javascript" >
$(document).ready(function(){
	var reg=/[''"":;\.\/<>~!@#%&]/g;
	$("#showDialog_message").keyup(function(){
		$(this).val($(this).val().replace(reg,""));
		var str=$(this).val();
		if(str.length>140){
			$(this).val(str.substring(0, 140));
		}	
	});
	
});
</script>
</head>
<body>
#parse("/zh_CN/views/head.vm" )

<div id="stage" class="left-right">
	#parse("/zh_CN/views/index/_left.vm" )
	<div id="container">
		<div id="select">
			<h4>#if ($isMe) 我 #else Ta#end 的好友 &nbsp;&nbsp;$!friends.size()</h4>
		</div>
		<div class="transverse" >
			#if (! $friends)
			<div>没有好友。</div>
			#else
				#foreach ($f in $friends)
			<div class="panel friend-content friend-home">
				<div class="r-frien-button">
					#if ($f.myFriend)
						#if($f.sharedToMe>0)
							<a href="javascript:aheadto('$f.account.id','$f.account.name');">
						#else
							<a href="javascript:void(0);">
						#end
							<b>$f.sharedToMe</b>为我推荐
						</a>
					<a href="javascript:removeFriend('$f.account.id')"  class="no-background ignore">移除好友</a>
					#else
					<a href="javascript:showDialog('$f.account.id','$f.account.name')" class="friends-btn">添加好友</a>
					#end
				</div>
				<div class="friend-content-l">
					<div class="friend-pic-icon">
						<img src="$f.account.middlePhotoUrl" />
					</div>
					<h2>
						<a href="/$f.account.id">$f.account.name</a>
						#if ($f.account.gender == 'male')
						<span class="male">
						#elseif ($f.account.gender == 'female')
						<span class="female">
						#else
						<span>
						#end
					</h2>
					<ul>
						<li>
							<a href="/$f.account.id">分享 $!f.account.sharedNumber</a> 
							<span>|</span>  
							<a href="/$f.account.id/friends">好友 $!f.account.friendNumber</a>
						</li>
					</ul>
					<div class="desc">
						个人简介：$!f.account.introduce
					</div>
				</div>
			</div>
				#end
			#end
		</div>
	</div>
</div>

<!--添加好友-begin-->	
<div id="showDialog"  style="display:none;">
<div id="pop-up"class="pop-up-later pop-up-playing-tag pop-up-add">
	<h2>
		添加 <b id="showDialog_name">小胖子</b> 为好友
	</h2>
	<div class="recommend-list" >
		<ul>
			<li><input type="hidden" name="showDialog_accountId" id="showDialog_accountId" value="" />
				备注名<p><input type="text"  name="showDialog_remark" id="showDialog_remark"  maxlength="16" /><font></font></p>
			</li>
		</ul>			
	</div>
	<div class="text-box">
		附言<textarea rows="" cols="" id="showDialog_message" name="showDialog_message">写一段附言呗！让他知道你是谁~~~!</textarea>
	</div>
	<div class="r-frien-button">
		<a class="ignore" href="javascript:layer_close()" >取消</a>
		<a class="friends-btn" href="javascript:addFriend()">发送申请</a>
	</div>
</div>	
</div>
<!--添加好友-end-->

<div id="messageTemplate"class="pop-up-later pop-up-success" style="display:none">
	<span>
		<img />%message%
	</span>
</div>
<div id="messageId" >
	<div id="pop-up" class="pop-up-later" style="display:none"></div>
</div>
</body>
</html>
